# EditorConfig + IntelliJ (ij_*) settings aligned with config/checkstyle/checkstyle.xml
# https://editorconfig.org
# https://www.jetbrains.com/help/idea/editorconfig-code-style.html

root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml,yml,yaml}]
indent_style = space
indent_size = 4
tab_width = 4

[*.java]
max_line_length = 120
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_layout_static_imports_separately = true
ij_java_imports_layout = |java.**.**,|,|javax.**.**,|,|org.**.**,|com.**.**,|net.**.**,|io.**.**,|,|lombok.**.**,|,|dev.**.**,|,|#
ij_java_blank_lines_before_package = 0
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_before_imports = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_before_method_body = 0
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_before_right_brace = 0
ij_java_keep_blank_lines_after_package = 1
ij_java_keep_blank_lines_after_imports = 1
ij_java_line_comment_at_first_column = false
ij_java_block_comment_at_first_column = false
ij_java_continuation_indent_size = 8
ij_java_binary_operation_sign_on_next_line = true
ij_java_method_call_chain_wrap = split_into_lines
ij_java_wrap_long_lines = false
ij_java_align_multiline_parameters = false
ij_java_align_multiline_chained_methods = false
ij_java_align_group_field_declarations = false
ij_java_if_brace_force = always
ij_java_dowhile_brace_force = always
ij_java_while_brace_force = always
ij_java_for_brace_force = always
ij_java_class_annotation_wrap = split_into_lines
ij_java_method_annotation_wrap = off
ij_java_field_annotation_wrap = split_into_lines
ij_java_parameter_annotation_wrap = off

[*.md]
trim_trailing_whitespace = false
